<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>*Cappuccino*</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/monokai.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/hack.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/dark-grey.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/site-dark.css" />
</head>
<body class="hack dark-grey">
  <div class="main container">
    {{ content }}
  </div>
</body>
</html>
